/****************************************************************************************
** Copyright Microsoft, Inc. 1994 - 2000
** All Rights Reserved.
// @File: INSTLANG.SQL
// 
// Purpose:
//   Script for any mkmastr statements that contains non-ascii data
//   e.g., syslanuages & spt_values entries
//
// Notes:
// - This script has to be run with ODBC clients osql or isqlw, after tables syslanguages
//   and spt_values are created in bldmastr.sql/upgrade.sql and u_tables.sql respectively
// - When adding new languages, must 
//     - change x_cLanguages in server code;
//     - Assign the next unused langid
//     - if it's a new message language, add an entry of 'LNG' type to spt_values, otherwise 
//       select an existing message language lcid as msglangid.
//
// History:
//
//   @Version: Sphinx
//   00000 LLH 04/08/98 Created
//
****************************************************************************************/
USE master
go

---- Ensure we can update system catelog tables.
declare  @int1			integer

if (     object_id('sp_configure','P') IS NOT NULL
    AND  1 <> (select value from syscurconfigs where config = 102)
   )
	begin						--Query tree compatible
	exec @int1 = sp_configure 'allow updates',1
	if @@error <> 0 or @int1 <> 0
		raiserror('Bad sp_configure exec at top of Instlang.SQL, killing spid.'
			,22,127) with log
	reconfigure with override
	end
go


---- Make sure server was started in single user mode or that sp_configure was used to enable updates to system tables.

if (select value from syscurconfigs where config = 102) <> 1
	raiserror('Cannot run Instlang.SQL unless updates to system tables are enabled.  Shutdown server and restart with the ''-m'' option or use sp_configure to enable updates to system tables.'
		,22,127) with log
go

-- Populating syslanguages

delete from syslanguages where langid between 0 and 32
go

insert syslanguages (langid, dateformat, datefirst, upgrade, 
	name, alias, months, shortmonths, days, lcid, msglangid) 	values 
		(0, N'mdy', 7, 0, N'us_english', N'English', 
		N'January,February,March,April,May,June,July,August,September,October,November,December', 
		N'Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec', 
		N'Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday', 1033, 1033)

insert syslanguages (langid, dateformat, datefirst, upgrade, 
	name, alias, months, shortmonths, days, lcid, msglangid) 	values 
		(1, N'dmy', 1, 0, N'Deutsch',N'German',
		N'Januar,Februar,März,April,Mai,Juni,Juli,August,September,Oktober,November,Dezember',
		N'Jan,Feb,Mär,Apr,Mai,Jun,Jul,Aug,Sep,Okt,Nov,Dez',
		N'Montag,Dienstag,Mittwoch,Donnerstag,Freitag,Samstag,Sonntag', 1031, 1031)


insert syslanguages (langid, dateformat, datefirst, upgrade, 
	name, alias, months, shortmonths, days, lcid, msglangid) 	values 
		(2, N'dmy', 1, 0, N'Français', N'French',
		N'janvier,février,mars,avril,mai,juin,juillet,août,septembre,octobre,novembre,décembre',
		N'janv,févr,mars,avr,mai,juin,juil,août,sept,oct,nov,déc',
		N'lundi,mardi,mercredi,jeudi,vendredi,samedi,dimanche',1036, 1036)






















go












go

-- SQL Server message group names stored in spt_values under type "LNG"

delete from spt_values where type = N'LNG'
go

insert into spt_values (name, number, type) values (N'Bulgarian', 1026, N'LNG')

insert into spt_values (name, number, type) values (N'Czech', 1029,  N'LNG')

insert into spt_values (name, number, type) values (N'Danish', 1030,  N'LNG')





















go


if object_id('sp_configure','P') IS NOT NULL
	begin
		exec sp_configure 'allow updates',0
		reconfigure with override
	end
go

